.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-font-size: 20;
}

.text-field:focused {
    -fx-background-color: -fx-primary-color, white;
}